.input_container {
    width: 85vw;
    display: "flex";
    flex-wrap: "wrap";
    margin: 0 auto;
    .filter_btn {
        margin: 15px;
    }
    .radio_btn {
        width: 60vw;
        border: 1px solid #888;
        border-radius: 15px;
        text-align: center;
    }
    .main {
        display: flex;
        flex-direction: row;
        align-items: center;
        column-gap: 50px;
        .table_area {
            margin: 15px 0;
        }
        .btn_wrapper {
            display: flex;
            flex-direction: column;
            row-gap: 20px;
            .btn-block {
                width: 95%;
            }
        }
    }
}

.btn-area {
    color: #888;
    margin: 25px;
    border: 1px solid #777;
    border-radius: 5px;
     :hover {
        color: black;
        opacity: 0.5;
    }
}

.table_wrapper {
    margin: 0 auto;
    padding: 25px;
}